<div class="row">
	{% if latest_post_list %}
	<div class="col-sm-8">
		{% for post in latest_post_list %}
		<div>
			<h2>{{ post.post_title }}</h2>
			<p>{{ post.post_date }} by <a href="#">{{ post.post_author }}</a></p>
			<div>{{ post.post_text }}</div>
			
		</div>
		{% endfor %}
	</div>
	{% else %}
	<p>No blog post are currently available.</p>
	{% endif %}
</div>
</div>


<!--
post_author
post_title
post_text
post_date

com_post
com_author
com_text
com_date
-->
