<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Aerik's Armory</title>
	<meta name="author" content="Erik Buter">
	<meta name="description" content="Aerik is an aspiring developer and tech enthusiast.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#home" aria-controls="home" role="tab" data-toggle="tab">Aerik's Armory</a>
			</div>
			<ul class="nav nav-tabs navbar-nav navbar-right">
				<li role="presentation" class="active">
					<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
				</li>
				<li role="presentation">
					<a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">Blog</a>
				</li>
				<li role="presentation">
					<a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a>
				</li>
				<li role="presentation">
					<a href="#about" aria-controls="about" role="tab" data-toggle="tab">About Me</a>
				</li>
				<li role="presentation">
					<a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="tab-content container">
		<div role="tabpanel" class="tab-pane fade in active" id="home" class="container">
			<div>
				<h1>Welcome to Aerik's Armory</h1>
				<p class="lead">
					Welcome to my armory. Here you can find my blog, projects, and information about me.
					<br>
					For now, no content is online, as this site is still in it's very early development stage.
				</p>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="blog" class="container">
			<h1>If you see this, something went wrong.</h1>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="projects" class="container">
			<h1>If you see this, something went wrong.</h1>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="about" class="container">
			<h1>If you see this, something went wrong.</h1>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="contact" class="container">
			<h1>If you see this, something went wrong.</h1>
		</div>

	</div>
	<!-- Bootstrap core JavaScript
	==================================================
	<!-- Placed at the end of the document so the pages load faster -->
	{% load static from staticfiles %}	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#blog').load('/blog/');
			$('#projects').load('/includes/projects.html/');
			$('#about').load('/includes/about.html/');
			$('#contact').load('/includes/contact.html/');
		});
	</script>
</body>
</html>

<!--
{% if latest_post_list %}
    <ul>
        {% for post in latest_post_list %}
            <li><a href="{% url 'armory_app:detail' post.id %}">{{ post.post_title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No blog posts are available.</p>
{% endif %}
-->