{% load django_markdown django_markdown_static %}
{% load humanize %}
<div class="row">
	<div class="col-md-7">
		<h1>Blog
			<p class="lead">Aerik's Thoughts</p>
		</h1>
	</div>
	<div class="col-md-5">
	<!-- Banner here -->
	</div>
</div>
</div> <!-- closing top-level container -->
<div class="container"> <!-- Opening new container, do not close -->
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-body">	
				<!-- Blog posts -->
				{% for post in latest_post_list %}
				<div class="row">
					<br>
					<div class="col-md-2 col-sm3 text-center">
						<a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
					</div>
					
					<div class="col-md-10 col-sm-9">
						<h3>{{ post.post_title }}</h3>
						<h5>By <a href="#">{{ post.post_author }}</a> - <small>{{ post.post_date|naturaltime }}</small></h5>
						<hr>
						<div class="row">
							<div class="col-xs-9">
								<div>{{ post.post_text|markdown }}</div>
								<button type="button" class="btn btn-default" onClick="detailLoad({{ post.id }})">Read more</button>
								<hr>
								<div class="clearfix">
									<span class="pull-left">{{ post.comments.all.count }} comments</span>
									{% for tag in post.tags.all %}
									<span class="label label-default pull-right">{{ tag.name }}</span>
									{% endfor %}
								</div>
							</div>
							<div class="col-xs-3"></div>
						</div>
						<br>
						<br>
					</div>
				</div>
				{% endfor %}
				<!-- End of blog posts -->
			</div>
		</div><!-- end panel -->
	</div>
</div>



<!--
post_author
post_title
post_text
post_date

com_post
com_author
com_text
com_date
-->
