<h1>{{ post.post_title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p>{{ post.post_text }}</p>
<ul>
    {% for comment in com_post.comment_set.all %}
    <li>{{ comment.com_text }}</li>
    {% endfor %}
</ul>
<form action ="{% url 'blog:comment' post.id %}" method="post">
    <input type="text" name="com_author" id="com_author">
    <label for="com_author">Author</label><br />
    <input type="text" name="com_text" id="com_text" />
    <label for="com_text">Comment</label><br />
    <input type="submit" value="Submit">
</form>